@import "bootstrap";

.container{
background-color: #ccc !important;
min-width: 500px;
}

#colum-disponibility{
  width: 60px !important;
}

#colum-name{
  min-width: 80px;
}

#colum-status{
  min-width: 60px;
  position: relative;
}

#colum-options{
width: 200px;
position: relative;
flex-direction: right;
}

#explanation{
font-style: italic;
}

.fieldSearch{
  size: 50px;
}
