@import "bootstrap";

.container{
background-color: #ccc !important;
min-width: 500px;
}

#colum-name{
    min-width: 100px;
}

#colum-disponibility{
    width: 100px;
}

#colum-status{
  min-width: 100px;
  position: relative;
}

#colum-options{
min-width: 80px;
max-width: 400px;
position: relative;
}

#explanation{
font-style: italic;
}
