@import "bootstrap";

li{
  color: black;
}
li.not-avaliable{
  color: gray;
}
.container{
background-color: #ccc !important;
}

#column-two{
position: relative;;
min-width: 300px;
}
.float-right{
  float: right;
}
